<div>
        <div class="about-me">
            <div class="image-top">
                <div class="image-box">
                    <img class="mckabue-big" src="/dest/images/mckabue-big.jpg" />
                    <img class="mckabue-small" src="/dest/images/mckabue-small.jpg" />
                </div>
            </div>
            <div class="information">
                <div class="text-editor-wrap" style="word-wrap: break-word;">
                    <div class="title-bar">Terminal</div>
                    <div class="text-body">
                        <div class="name">Kabue Charles</div>
                        <div class="name-tagline">A Software Architect, Poet, Entrepreneur, and a Philosopher; </div>
                        <span style="white-space:pre-wrap;" id="typed"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="offers-title">Previous Works...</div>
        <div class="show-case">
            <div class="item">
                <div class="item-image">
                    <img src="/dest/images/daktari.net.2.PNG" />
                </div>
                <div class="item-text">
                    <h3 class="item-name">Daktari.Net</h3>
                    
                </div>
            </div>
            <div class="item">
                <div class="item-text">
                    <h3 class="item-name">Oark Limited</h3>
                   
                </div>
                <div class="item-image">
                    <img src="/dest/images/oarklimited.com.PNG" />
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="/dest/images/curriculum.co.ke.PNG" />
                </div>
                <div class="item-text">
                    <h3 class="item-name">Curriculum.co.ke</h3>
                   
                </div>
            </div>
        </div>

        <div class="offers-title">I Can Help You Do It...</div>
        <div class="offers">
            <div class="offer--item">
                <img class="offer--item--img" src="https://png.icons8.com/dotty/500/ffffff/developer.png" />
                <div class="offer--item--decs">
                    <div class="offer--item--title">Software Consultancy</div>
                    Let's say you have an idea or you want to automate a certain task, where do you really start?

                    <ul>
                        <li>Where do you start?</li>
                        <li>Do you need a mobile or a web app? Maybe you even need Desktop app!</li>
                        <li>Which technologies and tools are you going to use?</li>
                        <li>How do you integrate with your other existing applications?</li>
                        <li>What's the price of your investment?</li>
                        <li>How long should the development take?</li>
                        <li>What about maintenance cost?</li>
                    </ul>
                </div>
            </div>
            <div class="offer--item">
                <img class="offer--item--img" src="https://png.icons8.com/dotty/500/ffffff/good-quality.png" />
                <div class="offer--item--decs">
                    <div class="offer--item--title">Quality Assurance</div>
                    You have created a software, but you need to know if it can support real world scenarios.

                    <ul>
                        <li>User flow testing</li>
                        <li>User experience and User friendliness</li>
                        <li>We suggest ways to fix software</li>
                        <li>Automated data entry</li>
                        <li>Ability to withstand or overcome adverse conditions or rigorous testing</li>
                    </ul>
                </div>
            </div>
            <div class="offer--item">
                <img class="offer--item--img" src="https://png.icons8.com/wired/500/ffffff/code-file.png" />
                <div class="offer--item--decs">
                    <div class="offer--item--title">Software Programming</div>
                    If you don't know who to call to assist you with coding, we can do it for you.

                    <ul>
                        <li>We can train your team on a technology (currently .NET)</li>
                        <li>We can create the software you want from scratch</li>
                        <li>We can create a software architecture or design for you to implement.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="offers-title">Solutions...</div>
        <div class="skills">
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/85px-CSS3_logo_and_wordmark.svg.png" />
                    <em class="name">CSS</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://cdn.iconscout.com/public/images/icon/free/png-256/node-sass-logo-brand-development-tools-3080cf9aaa8f9c63-256x256.png" />
                    <em class="name">SCSS</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/C_Sharp_wordmark.svg/464px-C_Sharp_wordmark.svg.png" />
                    <em class="name">C#</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/120px-HTML5_logo_and_wordmark.svg.png" />
                    <em class="name">HTML5</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/600px-JavaScript-logo.png" />
                    <em class="name">JavaScript</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.png" />
                    <em class="name">Node.JS</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://azure.microsoft.com/svghandler/sql-database/?width=600&height=315" />
                    <em class="name">SQL</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://seeklogo.com/images/M/MySQL-logo-17DB4E5FD6-seeklogo.com.png" />
                    <em class="name">MySQL</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/archive/0/09/20160120025231%21Wordpress-Logo.svg" />
                    <em class="name">WordPress</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="http://pluspng.com/img-png/jquery-logo-png--512.png" />
                    <em class="name">jQuery</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="http://knockoutjs.com/img/ko-logo.png" />
                    <em class="name">Knockout.JS</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://vuejs.org/images/logo.png" />
                    <em class="name">Vue.JS</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://vignette.wikia.nocookie.net/logopedia/images/f/fa/Microsoft_Azure.svg/revision/latest/scale-to-width-down/640?cb=20170928200148" />
                    <em class="name">Azure</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://github.com/campusMVP/dotnetCoreLogoPack/blob/master/ASP.NET%20Core/Bitmap%20RGB/ASP.NET-Core-Logo_Black_Boxed_RGB_bitmap_BIG.png?raw=true" />
                    <em class="name">ASP.NET MVC</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="http://www.ux-ui.net/ux/uploads/2017/03/ux-ui-logo.svg" />
                    <em class="name">UX/UI</em>
                </a>
            </div>
            <div class="skill">
                <a title="" href="javascript:;" class="skill-wrapper">
                    <img class="img" src="https://github.com/campusMVP/dotnetCoreLogoPack/blob/master/.NET%20Core/Bitmap%20RGB/NET-Core-Logo_Black_Boxed_RGB_bitmap_BIG.png?raw=true" />
                    <em class="name">.NET Core</em>
                </a>
            </div>
        </div>

        <div class="offers-title">Contact Me...</div>
        <div class="contact-numbers">
            <div class="contact-number">
                <a title="Mobile" target="_blank" href="tel:+254 707 115 007" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/phone.png" />
                    <div class="contact last">+254 707 115 007</div>
                    <em class="name">10:00 AM (10:00) - 5:00 PM (17:00) E. Africa</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="Email" target="_blank" href="mailto:info@mckabue.com; mckabue@gmail.com?subject=" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/email.png" />
                    <div class="contact">mckabue@gmail.com</div>
                    <div class="contact last">info@mckabue.com</div>
                    <em class="name">Any Time</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="Post Office" href="javascript:;" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/secured-letter.png" />
                    <div class="contact last">P.O Box 0707115007</div>
                    <em class="name">Any Time</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="Facebook" target="_blank" href="https://facebook.com/oarklimited" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/facebook.png" />
                    <div class="contact last">Oark Limited Page</div>
                    <em class="name">Follow Us</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="Twitter" target="_blank" href="https://twitter.com/mckabue" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/twitter.png" />
                    <div class="contact last">@mckabue</div>
                    <em class="name">Follow Us</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="GitHub" target="_blank" href="https://github.com/mckabue" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/github.png" />
                    <div class="contact last">GitHub</div>
                    <em class="name">My Codes</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="StackOverflow" target="_blank" href="https://stackoverflow.com/users/3563013/mckabue" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/stackoverflow.png" />
                    <div class="contact last">StackOverflow</div>
                    <em class="name">I Help Others Code</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="Blog" target="_blank" href="https://mckabue.wordpress.com/" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/wordpress.png" />
                    <div class="contact last">Blog</div>
                    <em class="name">Creative Writting</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="Chat" target="_blank" href="https://tawk.to/chat/5a5c77c3d7591465c706c00b/1c491dln9/?$_tawk_popout=true" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/chat.png" />
                    <div class="contact last">Chat</div>
                    <em class="name">Realtime Chat</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/mckabue" class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/metro/50/ffffff/linkedin.png" />
                    <div class="contact last">LinkedIn</div>
                    <em class="name">Connect with Me</em>
                </a>
            </div>
            <div class="contact-number">
                <a title="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=+254707115007&text=hi..." class="contact-wrapper">
                    <img class="img" src="https://png.icons8.com/ios/50/ffffff/whatsapp-filled.png" />
                    <div class="contact last">+254 707 115 007</div>
                    <em class="name">Any Time</em>
                </a>
            </div>
        </div>
</div>